.content {
  color: #637777;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 40px;
  margin: 50px;
  background-color: #f7f7ff;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  min-width: auto;
  height: 87vh;
}
